@font-face {
    font-family: monserrat;
    src: url('Montserrat-VariableFont_wght.ttf');
}

.body {
    font-family: monserrat;
    background-image: url("p1bgd.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

img {
    width: 1800px;
    position: relative;
    top: -80px;
    right: 280px;
}

#form { 
    width: 850px;
    height: 1300px;
    padding: 20px;
    background-color: #e6eeff;
    opacity: 0.8;
    border-radius: 50px;
    margin: -30% 12% 15% 15%;
}

#form button {
    padding: 20px;
    margin: 15% 20%;
    width: 60%;
    background-color: #4d79ff;
    color: #e6eeff;
    border: none;
    border-radius: 50px;
    font-size: 42px;
    font-family: monserrat;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    font-size: 42px;
}

.input-control label, input {
    border: none;
    border-radius: 50px;
    font-size: 42px;
    font-family: monserrat;
    padding: 20px;
    margin: 15px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    background-color: #e6ffe6;
}

.input-control.error input {
    background-color: #ffcccc; 
}

.input-control .error {
    color: #ff5c33;
    font-size: 12px;
}

